<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.hotel.mapper.HotelMapper">
    <select id="findByHotelFilter" parameterType="HotelSearchParam" resultType="Hotel">
        SELECT DISTINCT h.*
        FROM hotel h
        JOIN(
        SELECT * FROM room_type
            <where>
                <if test="numberOfGuests != null">
                    AND max_occupancy >= #{numberOfGuests}
                </if>
            </where>
        ) rt ON rt.hotel_id = h.id
        JOIN (
        SELECT room_type_id
        FROM room_type_inventory
        <where>
            <choose>
                <when test="startDate != null and endDate != null">
                    AND date BETWEEN #{startDate} AND #{endDate}
                    <if test="numberOfRooms != null">
                        AND (total_inventory - total_reserved) >= #{numberOfRooms}
                    </if>
                </when>
                <otherwise>
                    AND date = #{today}
                    <if test="numberOfRooms != null">
                        AND (total_inventory - total_reserved) >= #{numberOfRooms}
                    </if>
                </otherwise>
            </choose>
        </where>
        GROUP BY room_type_id
        <!-- 날짜필터 : 없으면 오늘 기준 조회 (예약가능여부 판단 X) -->
        <choose>
            <when test="startDate != null and endDate != null">
                    HAVING COUNT(date) >= #{totalDays}
            </when>
            <otherwise>
                    HAVING COUNT(date) >= 1
            </otherwise>
        </choose>
        ) i ON i.room_type_id = rt.id
        <where>
            <!-- 지역필터 -->
            <if test="lDongRegnCd != null and lDongRegnCd != ''">
                AND h.l_dong_regn_cd = #{lDongRegnCd}
            </if>
            <if test="lDongSignguCd != null and lDongSignguCd != ''">
                AND h.l_dong_signgu_cd = #{lDongSignguCd}
            </if>
            <!--숙박유형 필터-->
            <if test="lclsSystm2 != null and lclsSystm2 != ''">
                AND h.lcls_systm2 = #{lclsSystm2}
            </if>
            <!--커서 페이지네이션-->
            <if test="cursorId != null">
                AND h.id > #{cursorId}
            </if>
        </where>
        ORDER BY h.id ASC
        LIMIT #{size}
    </select>
</mapper>
