<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.hotel.mapper.RoomTypeMapper">
    <select id="findByRoomTypeFilter" resultType="roomTypeResponse" parameterType="roomTypeInventoryParam">
        SELECT DISTINCT rt.*
        FROM room_type rt
        JOIN(
        SELECT * FROM room_type
        <where>
            <if test="numberOfGuests != null">
                AND max_occupancy >= #{numberOfGuests}
            </if>
        </where>
        ) rt ON rt.hotel_id = h.id
    </select>
</mapper>